### Installaion - compatibilty with setup

In [38]:
# ! pip install elasticsearch==7.15.1
# ! pip install -U tqdm

### Imports

In [13]:
import os
import json
import pandas as pd
from typing import Dict, Any

from index_utils import IndexUtil
from experiment_utils import ExperimentUtil

### Setup

In [14]:
INDEX_NAME = 'index_test_inverted_index'

In [3]:
TEST_ANALYZER = 'stop-english_standard_analyzer'

In [4]:
INDEX = IndexUtil(INDEX_NAME)

In [5]:
def get_index_mappings(analyzer:str = TEST_ANALYZER):
    return {
        "properties": {
            "article_id": {
                "type": "keyword"
            },
            "text": {
                "type": "text",
                "analyzer": analyzer
            },
        }
    }

In [6]:
def get_settings():
    settings = IndexUtil.get_default_settings()
    IndexUtil.set_shards_in_settings(settings)
    return settings

In [7]:
def document_mapping_func(doc: Dict[str, Any])->Dict[str, Any]:
    return {
        'article_id': doc['uuid'],
        'text': doc['text'],
    }

### Prepare data

In [8]:
DOCUMENTS_SQUAD, QUESTIONS_SQUAD = ExperimentUtil.load_dataset('squad_10k')

In [9]:
INDEX.delete_index()
INDEX.create_index(get_index_mappings(), get_settings())
INDEX.index_all_docs(DOCUMENTS_SQUAD, document_mapping_func)

  0%|          | 0/10000 [00:00<?, ?it/s]

### Display index

In [20]:
# In order to display - install elasticsearch==7.0.2

# ! pip install elasticsearch==7.0.2
# ! pip install inelastic==0.2.4
# ! pip install -U tqdm

In [26]:
def load_inverted_index_to_dataframe(index_name: str, field: str = 'text') -> pd.DataFrame:
    process = os.popen(f'inelastic -i {index_name} -o json -f {field}')
    inverted_index = json.loads(process.read())
    process.close()

    df_index = pd.DataFrame(inverted_index['terms'])
    df_index.ids = df_index.ids.apply(lambda l: ' | '.join([el[:3] for el in l]))
    return df_index

In [35]:
df_index = load_inverted_index_to_dataframe(INDEX_NAME)

In [24]:
df_index[31000:31050]

,term,doc_count,freq,ids
31000,josephson,2,2,56t | 96t
31001,josephus,1,1,eqt
31002,josh,1,1,z6t
31003,joshua,3,4,Cat | Oqt | TKt
31004,josiah,3,3,2Kt | 9qt | Zqt
31005,josip,6,6,76t | Eat | Qat | Sat | xqt | yat
31006,jost,1,1,0at
31007,josé,20,24,-at | 6Kt | 96t | Jqt | M6t | Pat | Q6t | Sat ...
31008,joséphine,4,7,2Kt | 6Kt | FKt | wKt
31009,jotas,1,1,Dat
31010,joubran,1,1,q6t
31011,joule,2,2,Iat | UKt
31012,joules,2,2,Iat | wqt
31013,jour,1,1,lat
31014,journal,40,44,1qt | 8qt | 9at | 9at | Cat | Dat | Dqt | EKt ...
31015,journal's,1,1,f6t
31016,journalism,13,17,-at | 0Kt | A6t | CKt | Sat | WKt | ZKt | _qt ...
31017,journalist,20,23,1at | 1qt | 46t | 7Kt | 8Kt | G6t | L6t | L6t ...
31018,journalist's,1,1,R6t
31019,journalistic,5,5,46t | Q6t | cqt | p6t | uqt
31020,journalists,21,26,16t | 4at | 8Kt | Cat | Kat | L6t | Pat | RKt ...
31021,journals,10,11,Bat | Bqt | CKt | Sat | V6t | d6t | pat | qqt ...
31022,journey,25,29,1Kt | 6at | BKt | Bqt | Dat | F6t | H6t | Hqt ...
31023,journey's,2,2,h6t | nat
31024,journeyed,2,2,Qqt | tKt
31025,journeyman,1,1,oqt
31026,journeys,4,4,16t | 7Kt | Fat | K6t
31027,jouvert,1,1,Zqt
31028,jovanka,1,4,tat
31029,joventango,1,1,Cqt
31030,jovi,4,6,0at | 7qt | Iat | Pqt
31031,jovi's,1,1,pKt
31032,jovis,1,1,wKt
31033,jowl,1,1,Dat
31034,joy,11,11,-qt | 16t | 2qt | Hat | R6t | gat | nKt | pqt ...
31035,joyce,5,5,96t | Iqt | K6t | cqt | gat
31036,joyful,1,1,lat
31037,joyner,1,1,Zqt
31038,joys,2,2,Eqt | z6t
31039,joystick,4,4,D6t | g6t | pqt | sKt
31040,joysticks,2,3,MKt | pqt
31041,joão,6,6,Fqt | Hat | P6t | P6t | Qqt | g6t
31042,joška,1,1,Eat
31043,jožef,1,1,2Kt
31044,jp,7,9,5Kt | TKt | XKt | Zat | _6t | eKt | uat
31045,jpeg,4,4,7Kt | Y6t | sqt | wKt
31046,jpmorgan,1,1,8at
31047,jr,37,39,-Kt | 0Kt | 4qt | 5at | 6Kt | 86t | 96t | Bqt ...
31048,jr's,1,1,i6t
31049,jsd,1,1,2at

In [36]:
df_index

,term,doc_count,freq,ids
0,0,58,77,-Ky | -Ky | -ay | 2qy | 56y | 5qy | 96y | 9Ky ...
1,"0,1",1,1,Cay
2,"0,75",1,1,aKy
3,0.0,1,1,zay
4,0.000,1,2,mKy
...,...,...,...,...
78279,컴보이,1,1,06y
78280,현대,1,1,06y
78281,ﬂ,1,1,Xqy
78282,𐀞𐀊𐀍𐀚,1,1,YKy
78283,𪜶,1,1,Eay